{% extends "about.html" %}
{% block title %}Departments{% endblock %}
{% block main %}

<main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Department Details</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li><a href="/departments">Departments</a></li>
            <li>Commerce</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="section-title">
            <h2>Department of Commerce</h2>
          </div>
          <div class="row gy-4">
  
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
  
                  <div class="swiper-slide">
                    <img src="static/img/department/commerce.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Department information</h3>
                <ul>
                  <li><strong>Department</strong>: Commerce</li>
                  <li><strong>H.O.D</strong>: Ms. Anu Augustine</li>
                </ul>
              </div>
              <div class="portfolio-description">
                  <h4>Programs Offered:</h4><br>
                  <ul style="list-style-type:disc">
                      <li>B.Com. Finance & Taxation (Model I)</li>
                      <li>B.Com. Computer Application (Model III)</li>
                      <li>B.Com. Co-operation (Model I)</li>
                      <li>M.Com. Finance & Taxation</li>
                  </ul>
              </div>
            </div>
          </div><br>
          <p>
              The Department of Commerce is a vital part of the academic sector, offering students the opportunity to gain knowledge and skills in various areas of business and commerce. This department typically offers undergraduate and postgraduate courses in subjects such as accounting, finance, marketing, economics and business law.
          </p>
          <p>
              The curriculum of the Department of Commerce is designed to provide students with a comprehensive understanding of the business world, including the latest trends, practices, and technologies. Students also have the opportunity to gain practical experience through internships and projects, which can help them develop important skills that are highly valued by employers.
          </p>
          <p>
              The Department of Commerce is often closely linked with the business community, and many academic programs in this department have strong industry connections. This means that students may have access to guest lectures, networking events, and job opportunities through these connections.
          </p>
          <hr><br>
          <div class="section-title">
            <h2>Commerce Department Faculty</h2>
          </div>
          <div class="container"><br>
            <div class="table-container">
              <table>
                <tr>
                    <th style="padding-right: 100px; padding-bottom: 20px;">SI NO</th>
                    <th style="padding-right: 210px; padding-bottom: 20px;">NAME OF THE TEACHER</th>
                    <th style="padding-right: 170px; padding-bottom: 20px;">QUALIFICATION</th>

                </tr>
                {% for x in teaching_staff %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.qualification }}</td>					
                </tr>				
                {% endfor %}
              </table>
            </div><br>
          </div>		
        </div>
      </section><!-- End Portfolio Details Section -->

  </main>

{% endblock %}