{% extends "about.html" %}
{% block title %}Departments{% endblock %}
{% block main %}

<main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Department Details</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li><a href="/departments">Departments</a></li>
            <li>Malayalam (Allied)</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="section-title">
            <h2>Department of Malayalam (Allied)</h2>
          </div>
          <div class="row gy-4">
  
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div class="swiper-slide">
                    <img src="static/img/department/malayalam.png" alt="">
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Department information</h3>
                <ul>
                  <li><strong>Department</strong>: Malayalam (Allied)</li>
                  <li><strong>H.O.D</strong>: Dr. Kavitha K.</li>
                </ul>
              </div>
            </div>
          </div>
          <p>The Department of Malayalam is an allied academic department that offer programs in the field of humanities and few other departments. This department typically focuses on the study of Malayalam language, literature, and culture. Students who enroll in this department can expect to learn about the history, evolution, and rich cultural heritage of Kerala, as well as the development of Malayalam literature over the years.</p>
          <hr><br>
        </div>
      </section><!-- End Portfolio Details Section -->

  </main>

{% endblock %}