{% extends "about.html" %}
{% block title %}Login Page{% endblock %}
{% block main %}
  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Login</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Login</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500"  class="img js-fullheight" style="background-image: url(static/img/bg.jpg);">
      <div class="container">
	  <br><br><br><br><br><br><br><br>


        <div class="row justify-content-center">

          <div class="col-lg-4">
            <form method="POST" role="form" class="signin-form">
              <div class="section-title">
              <h2>LOGIN</h2>
              </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                </div>
              <div class="form-group mt-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
              </div>
	            <div class="form-group mt-3">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
	            </div>
            </form>
          </div>

        </div><br><br><br><br><br><br><br><br>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  {% endblock %}