{% extends "about.html" %}
{% block title %}NSS{% endblock %}
{% block main %}
<main id="main">
  <!-- ======= About Us Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>NSS</h2>
        <ol>
          <li><a href="/index">Home</a></li>
          <li>NSS</li>
        </ol>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= About Section ======= -->
  <section class="about" data-aos="fade-up">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <img src="static/img/nss/nss_img/2.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h2>National Service Scheme (NSS)</h2>
          <p class="fst-italic">
            The National Service Scheme (NSS) is a government-sponsored program launched in India on 24th September 1969, with the aim of instilling the spirit of community service and social responsibility in young people. The scheme was inspired by the ideas of Mahatma Gandhi, who believed in the importance of voluntary service to society.
          </p>
          <p class="fst-italic">
            The NSS is a voluntary organization that encourages students to engage in community service activities during their free time. It is available to students from all walks of life, including those pursuing higher education in universities and colleges.
          </p>
          <p class="fst-italic">
            The NSS aims to promote national integration, social harmony, and a sense of community service among young people. It offers opportunities for students to participate in a range of activities such as blood donation, health camps, literacy programs, environmental conservation, and disaster relief.
          </p>
          <p class="fst-italic">
            The NSS also provides a platform for students to develop leadership skills, teamwork, and communication skills. By working with others in the community, they learn to understand and appreciate different perspectives and cultures, which helps to promote a more inclusive and tolerant society.
          </p>
          <p class="fst-italic">
            Participation in the NSS is not only a way for students to give back to their communities but also a way for them to develop personal and professional skills that will serve them well in their future careers. It also provides an opportunity for students to connect with like-minded individuals who share their passion for community service.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Tetstimonials Section ======= -->
  <section class="testimonials" data-aos="fade-up">
    <div class="container">

      <div class="section-title">
        <h2>NSS Programme Officers</h2>
       </div>

      <div class="testimonials-carousel swiper">
        <div class="swiper-wrapper">
          <div class="testimonial-item swiper-slide">
            <img src="static/img/nss/akhil.jpeg" class="testimonial-img" alt="">
            <h3>Mr. Akhil Mathew Shaji</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              The sole aim of National Service Scheme is to provide hands on experience to students in delivering Community Service. NSS Volunteers work to ensure that everyone who is needy gets help to engance their standard of living and lead a life of dignity. Thereby, helping the students to develop competence required for group living and sharing of responsibilities.              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item swiper-slide">
            <img src="static/img/nss/thasni.jpeg" class="testimonial-img" alt="">
            <h3>Mrs. Thasneema M Kabeer</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              The National Service Scheme primarily expresses the essence of democratic living and upholds the need for selfless service inorder to achieve the welfare of society as a whole. The activities of NSS helps students to make use of their skills and knowledge to find practical solutions to community and individual problems. The programme aims to instill the spirit of Social Welfare and develop Personality of the students through Community Service.              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
      <div class="container">
  
        <div class="section-title">
          <h2>NSS Gallery</h2>
        </div>
  
        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/1.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/2.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/3.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/4.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/5.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/6.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/7.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/8.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/9.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
            <div class="testimonial-item swiper-slide">
              <div>
                <img src="static/img/nss/nss_img/10.jpeg" alt="" class="img-fluid" style="height: 400px;">
              </div>
            </div>
  

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->
  
</main><!-- End #main -->
  {% endblock %}